.Per{
    height: auto;
    padding-bottom: 5vh;
}
.pt-img{
    width: 80vw;
    height: 40vw;
}

.periodic{
   color: #0073cf;
}

.p-menu-item{
    cursor: pointer;
	font-size: 22px;
	font-family: Concert One;
	font-weight: 300;
	color: #778899;
}
.pe{
    padding-left: 5vw;
}

.periodic-menu{
    display: flex;
    justify-content: center;
    column-gap: .5cm;
}