.Doubts {
    min-height: 60vh;
    border: 1px solid black;
    width: 80vw;
}
.left{
    text-align: left;
    

}
.right{
    text-align: right;
    padding-right: .2cm;
}
.doubt-msgs{
    height: 55vh;
    border: 1px solid black;
    overflow: scroll;
    scrollbar-width: 2px;
}