// primary container
.Inspirations{
    min-height: 60vh;
}

.iimg{
    border-radius: 100px;
}

.sctime{
    color: gray;
}

.inspi{
    background: rgba(255, 255, 255, 0.170);
    backdrop-filter: blur(15px);
    box-shadow: none;
    border: .5px solid rgb(200, 200, 200);
}
.inspi:hover{
    background: rgba(195, 195, 195, 0.17);
    
}

